* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rotate {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.animated-pulse {
  animation: pulse 0.75s infinite alternate;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes pulse {
  0% {
    fill: rgb(0, 0, 0);
  }
  100% {
    fill: rgb(180, 180, 180);
  }
}

@import "nucleus";
