* {
  box-sizing: border-box;
}
html{ -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
.rotate {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


// SOURCE https://dribbble.com/shots/3156979-Double-Helix-Loader-pure-scss
$el-size: 8vh;
$DNA_scale: 0.5; //divides '$el-size'
$t: 2.1s;
$td: -0.89;

$c_a : rgb(132, 255, 144) rgb(115, 255, 124); // top / bottom / BG
$c2_a: rgb(218, 255, 178) rgb(50, 255, 155); // Fade-anim colors

$ease-circ: cubic-bezier(0.42 , 0, 0.58, 1);

.DNA_cont {
  display: inline-block;
  position: relative;
  transform: scale($DNA_scale);
}

.nucleobase {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  &:not(:last-child){
    margin-right: $el-size*1.62;
  }

  &:before, &:after {
    content: "";
    display: inline-block;
    width: $el-size;
    height: $el-size;
    border-radius: 50%;

    position: absolute;
  }

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
       // animation: animDotBar $t $ease-circ infinite;

        animation-delay: $i*($td*$t);
      &:before {
       // transform: translateY(-200%);

        animation: animBefore $t $ease-circ infinite;

        animation-delay: $i*($td*$t);

        background-color: nth($c_a, 1);
      }

      &:after {
       // transform: translateY(200%);

        animation: animAfter $t $ease-circ infinite;

        animation-delay: $i*($td*$t)  ;

        background-color: nth($c_a, 2);

      //  mix-blend-mode: multiply;
      }
    }
  }
}


@keyframes animBefore {
  0% {
    top: $el-size *-2;
    z-index: 1;
  }

  25% {
    transform: scale(1.2) ;
    z-index: 1;
  }

  50% {
   // background-color: nth($c_a, 1) ;
    top: $el-size *2;
    z-index: -1;
  }

  75% {
    background-color: nth($c2_a, 1);
    transform: scale(0.8) ;
    z-index: -1;
  }

  100% {

    top: $el-size *-2;
    z-index: -1;
  }
}

@keyframes animAfter {
  0% {
    top: $el-size *2;
    z-index: -1;
  }

  25% {
    background-color: nth($c2_a, 2) ;
    transform: scale(0.8) ;
    z-index: -1;
  }

  50% {
  //  background-color: nth($c_a, 2) ;
    top: $el-size *-2;
    z-index: 1;
  }

  75% {
    transform: scale(1.2) ;
    z-index: 1;
  }

  100% {
    top: $el-size *2;
    z-index: 1;
  }
}

@keyframes animDotBar { // NOT USED
  0% {
 height: $el-size*2.75;
  }

  25% {
    height: 0;
  }

  50% {
height: $el-size*2.75;
  }

  75% {
  height: 0;
  }

  100% {
    height: $el-size*2.75;
  }
}
